:root {
  --font-size-display-multiplier: 1;
  --font-size-heading-multiplier: 1;
  --font-size-body-multiplier: 1;
  --font-size-label-multiplier: 1;
  --line-height-display-multiplier: 1;
  --line-height-heading-multiplier: 1;
  --line-height-body-multiplier: 1;
  --line-height-label-multiplier: 1;

  --scheme-brand-100: #07130f;
  --scheme-brand-200: #0b211a;
  --scheme-brand-300: #10382f;
  --scheme-brand-400: #1e4c3f;
  --scheme-brand-500: #2d6351;
  --scheme-brand-600: #3f7d68;
  --scheme-brand-700: #609a83;
  --scheme-brand-800: #84b9a1;
  --scheme-brand-900: #acd5bd;
  --scheme-brand-1000: #cae8d5;
  --scheme-brand-1100: #ddf5e4;
  --scheme-brand-1200: #edfff2;
  --scheme-brand-600-10: rgba(63, 125, 104, 0.1);
  --scheme-brand-600-30: rgba(63, 125, 104, 0.3);
  --scheme-brand-600-50: rgba(63, 125, 104, 0.5);

  --scheme-accent-100: #0a0d2d;
  --scheme-accent-200: #11164d;
  --scheme-accent-300: #1a237e;
  --scheme-accent-400: #29349c;
  --scheme-accent-500: #3e4bb6;
  --scheme-accent-600: #5e69cc;
  --scheme-accent-700: #7e88de;
  --scheme-accent-800: #a0a8ea;
  --scheme-accent-900: #c2c7f3;
  --scheme-accent-1000: #dde0f8;
  --scheme-accent-1100: #eceefb;
  --scheme-accent-1200: #f7f7ff;
  --scheme-accent-600-10: rgba(94, 105, 204, 0.1);
  --scheme-accent-600-30: rgba(94, 105, 204, 0.3);
  --scheme-accent-600-50: rgba(94, 105, 204, 0.5);

  --scheme-neutral-100: #09110d;
  --scheme-neutral-200: #15231d;
  --scheme-neutral-300: #314039;
  --scheme-neutral-400: #4a5952;
  --scheme-neutral-500: #64716b;
  --scheme-neutral-600: #7f8b85;
  --scheme-neutral-700: #9ca7a1;
  --scheme-neutral-800: #bac3be;
  --scheme-neutral-900: #d3dad6;
  --scheme-neutral-1000: #e6ebe8;
  --scheme-neutral-1100: #f2f5f3;
  --scheme-neutral-1200: #fffdf9;
  --scheme-neutral-600-10: rgba(127, 139, 133, 0.1);
  --scheme-neutral-600-30: rgba(127, 139, 133, 0.3);
  --scheme-neutral-600-50: rgba(127, 139, 133, 0.5);
}
